*{
	font-size: 35px;
}
:root {
	--thefirst-color:#141414;
	--thesecond-calc: calc(1vw + 1hv);
	
}
@font-face {
	font-family: "ArsenalRegular";
	src: url("./font/arsenal-regular.woff2") format("woff2");
}
body {
	font-family: ArsenalRegular bolt;
}
.magic-list {

}
.magic-list_item {
	padding: calc(2% + 5px);
}
.magic-list_item:first-child {

}
.magic-list_header{
	transition: transform var(--transition);
	--transition: 1.25s cubic-bezier(.2, .5, 0, 1);
}
.magic-list__item::before{
	transition: transform var(--transition);
	--transition: 2s cubic-bezier(.05, .5, 0, 1);
}
.magic-list_item:hover .magic-list_header, .magic-list_item:hover::before {

}
.cursor {
	transition: transform var(--transition-cursor), height 1s ease;
	display: none;
	
}
.magic-list_item:hover .cursor {
	display: block;
	font-weight: bold;
	width: calc(100% / 3);
	height: calc(100% / 4);
	padding: calc(1% + 5px);
}
.cursor_image {
	transition: transform var(--transition-cursor);
}
.magic-list_item:hover .cursor_image {

}